.title {
    text-align: center;
    color: var(--ink);
    grid-area: title;
}

.img {
    width: 100%;
    border-radius: 20px;
    padding-bottom: 20px;
    grid-area: image;
}

.resume {
    padding: 20px;
    font-size: 1.2rem;
    color: var(--ink);
    justify-items: center;
    gap: 30px;
    display: grid;
    grid-template-areas:
        "title"
        "header"
        "profile"
        "education"
        "work";
}

.resume li {
    list-style: none;
}

.header {
    grid-area: intro;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    margin-bottom: 20px;
    grid-area: header;
}

.headerList {
    margin-top: 20px;
}

.headerTitle {
    font-size: 1.5rem;
    text-align: left;
    padding-bottom: 10px;
}

.h2 {
    border-bottom: 1px solid black;
}

.headerSubtitle {
    position: absolute;
    font-size: .8rem;
    top: 30px;
}

.headerTextContainer {
    position: relative;
}

.profile {
    grid-area: profile;
}

.education {
    grid-area: education;
}

.work {
    grid-area: work;
}