.card {
position: relative;
    height: 250px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid var(--ink);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.card:focus-visible {
    outline: 2px solid var(--secondary-accent-color);
    outline-offset: 3px;
    border-radius: 10px;
}

.h2, .p {
    color: #E5E0DA;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.content {
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-bottom: 5px;
    top: -48px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-top: 1px solid var(--ink);
}